.game{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
    padding-top: 80px;
    .container{
        border: 1px solid #000000;
        display: inline-block;
        width: 800px;
        height: 800px;
        position: relative;
    }
}